.modal{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    height: 100%;
    font-size: 20px;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}
.modal__active{
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    margin-left: 10%;
    margin-right: 10%;
}
.modal__active button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}
.modal__active.active{
    transform: scale(1);
}
input{
    padding: 20px;
}